@page "/bands/add"
@using ShowTime.Repositories.Interfaces
@using ShowTime.Entities
@inject NavigationManager NavigationManager 
@rendermode InteractiveServer

<h3>Create Band</h3>
<Fields>
    <div>
        <Field>
            <Label>Name</Label>
            <InputText @bind-Value="Band.Name"/>
        </Field>
    </div>
    <div>
        <Field ColumnSize="ColumnSize.Is5">
            <Select TValue="Genre" @bind-SelectedValue="Band.Genre">
                @foreach (Genre genre in Enum.GetValues<Genre>())
                {
                    <SelectItem Value="@genre">@genre.ToString()</SelectItem>
                }
            </Select>
        </Field>
    </div>
</Fields>

<Button Color="Color.Primary" Clicked="HandleSubmit">Save</Button>

@code {
    private Band Band { get; set; } = new Band { Name = string.Empty };

    [Inject]
    public required IRepositoryBand RepositoryBand { get; set; }

    private async Task HandleSubmit()
    {
        await RepositoryBand.AddAsync(Band);
        await RepositoryBand.SaveChangesAsync();
        NavigationManager.NavigateTo("/bands");
    }
}