@page "/bands"
@using ShowTime.Repositories.Interfaces
@inject IRepositoryBand repositoryBand
@using Blazorise.DataGrid


<PageTitle>Bands</PageTitle>

@code {
    private IEnumerable<Band> bands;
    protected override async Task OnInitializedAsync()
    {
        bands = await repositoryBand.GetAllAsync();
    }
}

<Container>
    <h1>All the bands</h1>

    <DataGrid
        TItem="Band"
        Data="@bands"
        ShowPager="true"
        ShowPageSizes="true"
        >
        <DataGridColumns>
            <DataGridColumn TItem="Band" Field="@nameof(Band.Id)" Caption="#"/>
            <DataGridColumn TItem="Band" Field="@nameof(Band.Name)" Caption="Name"/>
            <DataGridColumn TItem="Band" Field="@nameof(Band.Genre)" Caption="Genre"/>
        </DataGridColumns>
    </DataGrid>

</Container>